/.idea
*.a
*.o
*.gcda
*.gcno
*.gcov
*.so
*.log
*.bak
cmake*
.make-*
.prerequisites
locktest
shuke-server
dnsbench
callgrind*
.cache
build
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/.clang_complete
/cscope*
x86_64-native-linuxapp-gcc