[submodule "3rd/himongo"]
	path = 3rd/himongo
	url = https://github.com/yuyang0/himongo.git
[submodule "3rd/liburcu"]
	path = 3rd/liburcu
	url = https://github.com/yuyang0/userspace-rcu.git
[submodule "3rd/luajit"]
	path = 3rd/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "3rd/dpdk"]
	path = 3rd/dpdk
	url = git://dpdk.org/dpdk-stable
